.about-container {
  display: flex;
  flex-direction: column;
  padding: 0em 4em 0em 4em;
  margin-top: 9em;
}

.grid-container-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
  padding: 0em 4em 0em 4em;
  margin-bottom: 5em;
}

.col-1-3 {
  grid-column: span 2;
  margin-right: 4em;
}

.col-2-3 {
  grid-column: span 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.about-head {
  font-size: 175px;
}

.about-tagline {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 37px;
  padding-bottom: 1em;
  animation: fadeIn 1s;
}
.about-text {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 23px;
  color: #f8f8ff;
  animation: fadeIn 3s;
}

.about-img {
  animation: slide-bottom 1s;
}

.about-header {
  font-family: 'TAN-BUSTER';
  font-size: 50px;
  color: #ffcae0;
}

.experience {
  width: 70%;
  padding: 0em 4em 4em 4em;
}

.experience ul {
  /* list-style: none; */
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 23px;
}

#exp-list li {
  padding-left: 1em;
}

.skills {
  width: 70%;
  padding: 0em 4em 4em 4em;
}

.skills ul {
  /* list-style: none; */
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 23px;
  margin-right: 10em;
}

#skill-list li {
  padding-left: 1em;
}

.sub-cat {
  font-family: 'Lato', sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 28px;
}

.dev-cat {
  font-family: 'Lato', sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 28px;
  padding-top: 1em;
}

.btn-container {
  display: flex;
  align-items: center;
  padding: 0em 4em 4em 4em;
}

.resume-btn {
  background-color: #ffcae0;
  color: #362624;
  cursor: pointer;
  transition: background-color 0.3s;
  border: none;
  font-family: 'TAN-BUSTER', 'Lato', sans-serif;
  padding: 2em 5em 2em 5em;
  border-radius: 50px;
  font-size: 18px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.resume-btn:hover {
  background-color: #2a1f1e;
  /* border: 1px solid #ffcae0; */
  color: #ffcae0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide-bottom {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Mobile styles */
@media screen and (max-width: 768px) {
  .about-container {
    margin: 0;
  }

  .about-main-container-mobile {
    margin: 0;
  }

  .about-grid-mobile {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding: 5em 0em 0em 0em;
  }

  .col-2-1-mobile {
    grid-column: span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .about-head {
    font-size: 65px;
  }

  .about-content-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 3em;
  }

  .about-tagline {
    font-size: 28px;
  }

  .about-text {
    font-size: 21px;
  }

  .about-header-mobile {
    font-size: 35px;
    font-family: 'TAN-BUSTER';
    color: #ffcae0;
    padding-bottom: 10px;
    /* border: 1px solid red; */
  }

  .experience-mobile {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3em;
    text-align: center;
    /* border: 1px red solid; */
  }

  #exp-list-mobile {
    text-align: left;
  }

  #exp-list-mobile li {
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 20px;
    padding-bottom: 8px;
    flex: 1 0 auto; 
    width: 90%;
  }

  .skills-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .skill-list-mobile {
    text-align: center;
  }

  .skill-list-mobile li {
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 20px;
    margin-left: 0em 1.5em 0em 0.5em;
    list-style: none;
  }

  .sub-cat {
    font-weight: 300;
    padding-bottom: 10px;
  }

  .dev-cat {
    font-weight: 300;
    padding-bottom: 10px;
  }

  .btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 0em 0em 4em 0em; */
  }

  .resume-btn {
    padding: 1em 5em 1em 5em;
    margin-bottom: 2em;
  }
}
