.project-container {
  padding: 0em 4em 6em 4em;
}

.project-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.p-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.p-subtitle {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-size: 30px;
  animation: slide-bottom 1s;
}

.p-img-container {
position: relative;
margin-bottom: 2em;
}

.p-img-container img {
  display: block;
}

.p-image {
  width: 1000px;
}

.p-desc {
  padding-top: 2em;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-size: 30px;
}

.p-link {
  padding-top: 3em;
}

.link-btn {
  background-color: #ffcae0;
  color: #362624;
  cursor: pointer;
  transition: background-color 0.3s;
  border: none;
  font-family: 'TAN-BUSTER', 'Lato', sans-serif;
  padding: 1em 5em 1em 5em;
  border-radius: 50px;
  font-size: 18px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Mobile styles */
@media screen and (max-width: 768px) {
  .project-container {
    margin: 0em 0em 0em 1em;
  }

.p-title {
  font-size: 40px;
  line-height: 70px;
}

.p-subtitle {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-size: 23px;
}

/* .p-img-container {
  padding-bottom: 1em;
} */
  
.p-image {
  height: 100%;
  width: 300px;
}

.p-desc {
  padding-top: 2em;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-size: 20px;
}

.link-btn {
  padding: 0.5em 3em 0.5em 3em;
  border-radius: 50px;
  font-size: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

}